table, td
{
    border-width: 2px;
    border-style: solid;
    border-collapse: collapse;
}

.assignatura
{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.Bardaji
{
    color:aqua;
}